<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AppTest</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="google-signin-client_id" content="570699579850-urs2bjc5q7aq3rjvep415idc9fc998c3.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<body>
    <h1>Login Page 123</h1>
<p>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</p>
<a href="#" onclick="signOut();">Sign out</a>

<script>
function onSignIn(googleUser) {
   var id_token = googleUser.getAuthResponse().id_token;
   var xhr = new XMLHttpRequest();
xhr.open('POST', '/api/auth/login-google');
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.onload = function() {
  
var obj = JSON.parse(xhr.response);
  if(obj.status == 'success'){
      signOut();
      location.assign('/dashboard')
  }
};
xhr.send(JSON.stringify({token:id_token}));
}

</script>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>


</body>

</html>